<%- include('partials/header') %>
<%- include('partials/navbar') %>

<br><br>
<div class="about-company">
    <hr>
    <div class="logo mx-5">
        <img src=<%= fullCompanyInfo.srcImg%> alt=<%= fullCompanyInfo.srcImg%> class="float-left company-image">
    </div>
    <br>
    <div class="mx-5 my-3">
        <h5 class="card-title">
            <%= fullCompanyInfo.companyName%>
        </h5>
        <p class="card-text">
            Sector: <%= fullCompanyInfo.sector%>
        </p>
    </div>
    <div class="btn-group my-3" role="group">
        <form action="/company-profile" method="post">
            <input type="hidden" name="isSubscribed" value=<%= isSubscribed %>>
            <button type="submit" class="btn btn-primary" name="companyID" value=<%= fullCompanyInfo._id%>>

                <%if(isSubscribed){%>
                <i class="fas fa-minus"></i>
                <%} else {%>
                <i class="fas fa-plus"></i>
                <%}%>

                <%= isSubscribed?"unsubscribe":"subscribe"%></button>
        </form>
        </br>
        <a type="button" class="btn btn-outline-primary mx-3" href=<%= fullCompanyInfo.webSite%>>Visit Website <i
                class="fas fa-location-arrow"></i></a>
    </div>
</div>
<div class="navigation-menu container-fluid my-3">
    <div class="row py-5">
        <div class="col-md-3" style="justify-content:start;">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-About-list" data-toggle="list"
                    href="#list-About" role="tab" aria-controls="About"><i class="fas fa-fw fa-about"></i>About</a>
                <a class="list-group-item list-group-item-action" id="list-History-list" data-toggle="list"
                    href="#list-History" role="tab" aria-controls="History"><i
                        class="fas fa-fw fa-chart-area"></i>History</a>
                <a class="list-group-item list-group-item-action" id="list-Prediction-list" data-toggle="list"
                    href="#list-Prediction" role="tab" aria-controls="Prediction"><i
                        class="	fab fa-think-peaks"></i>Prediction</a>
            </div>
        </div>
        <div class="col-md-9 x">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-About" role="tabpanel"
                    aria-labelledby="list-About-list">
                    <table>
                        <tr>
                            <td>Industry:</td>
                            <td>

                                <%= fullCompanyInfo.industry%>

                            </td>
                        </tr>
                        <tr>
                            <td>Headquarters:</td>
                            <td>
                                <%= fullCompanyInfo.headquarters%>
                            </td>
                        </tr>
                        <tr>
                            <td>CEO:</td>
                            <td>
                                <%= fullCompanyInfo.CEO%>
                            </td>
                        </tr>
                        <tr>
                            <td>CEO Title:</td>
                            <td>
                                <%= fullCompanyInfo.CEOTitle%>
                            </td>
                        </tr>
                        <tr>
                            <td>Symbol Name:</td>
                            <td>
                                <%= fullCompanyInfo.symbol%>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane fade show" id="list-History" role="tabpanel" aria-labelledby="list-History-list">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">History Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <input type="hidden" id="companySymbol" name="symbol" value=<%= fullCompanyInfo.symbol %>>
                                <canvas id="HistoryChart" width="50" height="12"></canvas>
                                <script src="company/js/HistoryChart.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="list-Prediction" role="tabpanel"
                    aria-labelledby="list-Prediction-list">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Prediction Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="PredictionChart" width="50" height="12"></canvas>
                                <script src="company/js/PredictionChart.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>